<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clinic.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Clinic.My.MySettings.clinicsmsdbConnectionString"
            connectionString="server=localhost;user id=root;password=password;persistsecurityinfo=True;database=clinicsmsdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Clinic.My.MySettings>
            <setting name="Key" serializeAs="String">
                <value>StiEapPmGzsqce5jRkrox7gu9nD2VY4Z</value>
            </setting>
        </Clinic.My.MySettings>
    </applicationSettings>
</configuration>